.imageSize {
    width: 100%;
    height: 100vh;
    border-radius: 0px;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    z-index: -1;
}

.containerCarousel{
    z-index: -1;
    position: relative;
}





