#services {
    height: 100vh;
    padding: 30px 20px;
    background: url("../images/img18.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    color:aliceblue;
}

.servicesContainer {
    display: flex;
    justify-content: space-around;
}

#services div h1 {
    margin-top: 7%;
}

.machines {
    width: 250px;
    height: 350px;
    border-radius: 0;
    margin: 6% 0%;
}

.listServices {
    margin: 40% 0%;
    font-size: 110%;
    list-style:none;
}

